@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index:-1;

  display: block;
  background-image: url('https://northwesternimages.files.wordpress.com/2013/08/copper-ridge-panorama1em.jpg');
  width:100%;
  height:100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.navbar {

  background: -webkit-linear-gradient(90deg, rgba(35,37,38,1) 10%, rgba(0,2,3,0.25) 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, rgba(35,37,38,1) 10%, rgba(0,2,3,0.25) 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, rgba(35,37,38,1) 10%, rgba(0,2,3,0.25) 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, rgba(35,37,38,1) 10%, rgba(0,2,3,0.25) 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, rgba(35,37,38,1) 10%, rgba(0,2,3,0.25) 90%); /* W3C */
        
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
   // background-image:'/images/background.jpg';
  
  // // Gradient from uigradients.com
  // background: -webkit-linear-gradient(180deg, #73C8A9 10%, #373B44 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(180deg, #73C8A9 10%, #373B44 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(180deg, #73C8A9 10%, #373B44 90%); /* IE10 */
  // background:      -o-linear-gradient(180deg, #73C8A9 10%, #373B44 90%); /* Opera 11.10+ */
  // background:         linear-gradient(180deg, #73C8A9 10%, #373B44 90%); /* W3C */
        
  
  //Gradents from http://uigradients.com/ Beautiful Turquoise
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(#136a8a 10%, #267871 90%); /* W3C */
        
 

//   // Gradents from http://uigradients.com/#
// //  background: -webkit-linear-gradient(90deg, #3C2036 0%, #5D4157 10%, #A8CABA 90%, #A8CABA 100%); Chrome 10+, Saf5.1+ */
// //  background:    -moz-linear-gradient(90deg, #3C2036 0%, #5D4157 10%, #A8CABA 90%, #557767 100% ); /* FF3.6+ */
// //  background:     -ms-linear-gradient(90deg, #3C2036 0%, #5D4157 10%, #A8CABA 90%); /* IE10 */
// //  background:      -o-linear-gradient(90deg, #3C2036 0%, #5D4157 10%, #A8CABA 90%); /* Opera 11.10+ */
// //  background:         linear-gradient(90deg, #3C2036 0%, #5D4157 10%, #A8CABA 90%, #789A8A 110%); /* W3C
        
// //   background: -webkit-linear-gradient(90deg, #063056 0%, #085078 10%, #85D8CE 90%, #74C7BD 100%); /* Chrome 10+, Saf5.1+ */
// //  background:    -moz-linear-gradient(90deg, #063056 0%, #085078 10%, #85D8CE 90%, #74C7BD 100%); /* FF3.6+ */
// //  background:     -ms-linear-gradient(90deg, #063056 0%, #085078 10%, #85D8CE 90%, #74C7BD 100%); /* IE10 */
// //  background:      -o-linear-gradient(90deg, #063056 0%, #085078 10%, #85D8CE 90%, #74C7BD 100%); /* Opera 11.10+ */
// //  background:         linear-gradient(90deg, #063056 0%, #085078 10%, #85D8CE 90%, #74C7BD 100%); /* W3C */
}
.jumbotron{
  
  background:rgba(250,250,250,0.5);
  // background: -webkit-linear-gradient(135deg, rgba(97,97,97,0.16) 10%, rgba(155,197,195,0.2) 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(135deg, rgba(97,97,97,0.16) 10%, rgba(155,197,195,0.2) 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(135deg, rgba(97,97,97,0.16) 10%, rgba(155,197,195,0.2) 90%); /* IE10 */
  // background:      -o-linear-gradient(135deg, rgba(97,97,97,0.16) 10%, rgba(155,197,195,0.2) 90%); /* Opera 11.10+ */
  // background:         linear-gradient(135deg, rgba(97,97,97,0.16) 10%, rgba(155,197,195,0.2) 90%); /* W3C */
  
  //border-bottom:2px solid rgba(97,97,97,0.5);
} 
.well{
  background:rgba(250,250,250,0.5);
  border:4px solid rgba(0,0,0,0.25);
  // background: -webkit-linear-gradient(135deg, rgba(97,97,97,0.09) 10%, rgba(155,197,195,0.1) 90%); /* Chrome 10+, Saf5.1+ */
  // background:    -moz-linear-gradient(135deg, rgba(97,97,97,0.09) 10%, rgba(155,197,195,0.1) 90%); /* FF3.6+ */
  // background:     -ms-linear-gradient(135deg, rgba(97,97,97,0.09) 10%, rgba(155,197,195,0.1) 90%); /* IE10 */
  // background:      -o-linear-gradient(135deg, rgba(97,97,97,0.09) 10%, rgba(155,197,195,0.1) 90%); /* Opera 11.10+ */
  // background:         linear-gradient(135deg, rgba(97,97,97,0.09) 10%, rgba(155,197,195,0.1) 90%); /* W3C */
}
// .btn-success{
// //  color:rgb(45,45,45);
//   background:rgba(155,197,195,0.9);
//   border: 1px solid rgba(155,197,195,1);
  
// }
.allert-success{
  background:rgba(155,197,195,0.9);
  border: 1px solid rgba(155,197,195,1);
}

.vr{
  border-left:2px solid #cfcfcf;
  height:100%;
  display:inline;
  position:relative;
}

// .mycontent-right{
//   border-left:2px solid #efefef;
//   padding-left:20px;
//   margin-left:-10px;
// }

.signup-title{
  color:rgba(225,225,225,1);
  text-shadow: 0px 3px 8px rgba(0,0,0,0.5);
}

.signup-title p{
  color:rgba(250,250,250,0.5);
}

.signup-form{}

.signup-form select{
  background:rgba(250,250,250,0.5);
}

.form-control{
  background:rgba(250,250,250,0.5);
}
