@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.circle-icon{
  position: absolute;
  top: 27.5%;
  right: 39.5%;
  height:26px;
  width:26px;
  z-index: 4;
  margin:0px;
  padding:0px;
  border-radius:50%;
}

.spacer-40{
    height:40px;
    display:box;
}

.spacer-30{
    height:30px;
    display:box;
}

.spacer-20{
    height:20px;
    display:box;
}

.fade{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    margin:0;
    background:#000;
    opacity:0.2;
    z-index:2;
    // top:-10px;
    // left:-10px;
    // right:-10px;
    // bottom:-10px;
   
}

.alert{
    // display:block;
    position:absolute;
    top:28%;
    left:40%;
    right:40%;
    z-index:3;
    user-select:none;
}

.alert-close{
    margin:auto;
    padding:0px;
//   position: absolute;
//   top: 27%;
//   right: 39.5%;
//   z-index: 5;
}

.alert-notice{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.large-text{
    font-size:18px;
}

