@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.fade{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    margin:0;
    background:#555555;
    opacity:0.5;
    z-index:2;
    // top:-10px;
    // left:-10px;
    // right:-10px;
    // bottom:-10px;
   
}

.alert{
    // display:block;
    position:absolute;
    top:28%;
    left:40%;
    right:40%;
    z-index:3;
    user-select:none;
}

.alert-close{
  position: absolute;
  top: 27%;
  right: 39.5%;
  z-index: 4;
}

.alert-notice{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.large-text{
    font-size:18px;
}

